---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import { CartItems } from '@/components/CartItems';

---

<Layout title="Meu Carrinho">
  <div class="relative mb-12">
    <div class="relative">
      <div class="relative w-full h-24">
        <Image
          src="/home-bg.jpeg"
          alt="Hero"
          width={1125}
          height={750}
          class="w-full h-24 absolute object-cover"
        />
        <div class="w-full h-24 absolute bg-black bg-opacity-65"></div>
      </div>
      <Header className="py-0 h-24" />
    </div>
    <nav class="bg-gray-100 py-12 px-6 text-center">
      <h1 class="font-serif text-3xl uppercase tracking-bigger font-normal leading-relaxed text-tiny-black">
        MEU CARRINHO
      </h1>
      <div class="text-xss flex items-center gap-1 justify-center mt-4 uppercase text-small-gray tracking-wider">
        <a href="/catalogo" class="text-black font-bold hover:underline underline-offset-2">
          Catálogo
        </a>
        <span>/</span>
        <p>
          Carrinho
        </p>
      </div>
    </nav>
    <div class="px-5 lg:px-48">
      <CartItems client:load />
      <a
        href="/checkout"
        class="flex justify-center items-center
          font-action tracking-bigger text-black bg-white border-2 border-black
          hover:text-white hover:bg-black transition-colors
          h-11 px-6 text-xs uppercase mt-10
          lg:w-1/2 lg:ml-auto lg:mr-auto"
      >
        Finalizar Compra
      </a>
    </div>
  </div>
</Layout>