---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Início">
  <div class="min-h-dvh relative">
    <div class="relative">
      <div class="absolute">
        <img
          src="/home-bg.jpeg"
          alt="Hero"
          class="w-dvw h-dvh object-cover"
        />
        <div class="w-full h-full absolute top-0 left-0 bg-black bg-opacity-40"></div>
      </div>
    </div>
    <Header />
    <main class="relative">
      <div class="w-dvh h-dvh flex flex-col items-center justify-center">
        <p class="font-serif text-white text-base font-extralight uppercase text-center mt-8 tracking-wide px-4 leading-7 mb-6 lg:text-xl lg:mb-10">
          Descubra a elegância e a sofisticação em nossos produtos
        </p>
        <a
          href="/catalogo"
          class="
            block
            border border-white bg-black bg-opacity-25 font-action text-white text-center text-xs py-3 px-7 tracking-bigger
            hover:bg-white hover:text-black transition-colors duration-500
          "
        >
          ACESSAR NOSSO CATÁLOGO
        </a>
      </div>
    </main>
  </div>
</Layout>
