---
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import { faAngleDown, faAngleUp, faCartPlus } from '@fortawesome/free-solid-svg-icons';

---

<Layout title="Catálogo">
  <div class="min-h-dvh relative mb-12">
    <div class="relative">
      <div class="relative w-full h-24">
        <Image
          src="/home-bg.jpeg"
          alt="Hero"
          width={1125}
          height={750}
          class="w-full h-24 absolute object-cover"
        />
        <div class="w-full h-24 absolute bg-black bg-opacity-65"></div>
      </div>
      <Header className="py-0 h-24" />
    </div>
    <nav class="bg-gray-100 py-12 px-6 text-center">
      <h1 class="font-serif text-3xl uppercase tracking-bigger font-normal leading-relaxed text-tiny-black">
        Catálogo
      </h1>
    </nav>
    <main class="relative px-5">
      <h2 class="font-action uppercase text-sm text-small-gray text-center tracking-widest mb-10 mt-10">
        Explore Nossos Produtos
      </h2>
      <div
        class="
          w-full lg:w-3/4
          ml-auto mr-auto
          flex flex-col gap-6
        "
      >
        {[1, 2, 3].map(() => (
          <div class="w-full flex lg:grid lg:grid-cols-4 lg:gap-5">
            <div class="relative mr-4 w-1/2 lg:w-full">
              <Image
                src="/corrente.jpeg"
                alt="Corrente"
                width={300}
                height={100}
                class="object-cover w-full max-h-40 h-36 lg:absolute lg:w-full lg:h-full"
              />
            </div>
            <div class="w-fit block lg:col-start-2 lg:col-end-5">
              <a href="/conjunto-esmeralda" class="block self-start uppercase text-xs font-serif font-medium mb-3 hover:underline underline-offset-2 text-tiny-black">
                Conjunto esmeralda quadrado
              </a>
              <p class="text-small-gray text-sm font-light leading-6 self-start mb-4 font-sans">
                Este conjunto de joias com esmeralda quadrada é uma verdadeira obra de arte, projetado para capturar a essência da elegância e do luxo.
              </p>
              <p class="font-serif font-light text-esmerald text-sm mb-5">
                R$92,49
              </p>
              <div class="flex flex-row items-center gap-3">
                <div class="border-2 border-esmerald inline-flex">
                  <input type="number" class="w-14 h-8 outline-none text-center" value="1" />
                  <div class="h-8 w-7 bg-esmerald flex flex-col">
                    <button class="text-white text-xs text-center">
                      <FontAwesomeIcon icon={faAngleUp} />
                    </button>
                    <button class="text-white text-xs text-center">
                      <FontAwesomeIcon icon={faAngleDown} />
                    </button>
                  </div>
                </div>
                <a href="/carrinho" class="inline-flex items-center font-serif text-white bg-esmerald border-2 border-esmerald h-9 px-6 text-xs uppercase">
                  <FontAwesomeIcon icon={faCartPlus} className="mr-1" /> adicionar
                </a>
              </div>
            </div>
          </div>
          <hr />
        ))}
      </div>
    </main>
  </div>
</Layout>